# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Uploads and Compressed Folders
uploads/
compressed/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
*.swp

# Sensitive Information
.env
